# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
fmriprep.egg-info/**/*
fmriprep.egg-info
.eggs/**/*
.eggs

.pixi
.tox

wonkyconn/data/atlases*
wonkyconn/data/halfpipe
wonkyconn/data/giga_connectome
