on:
  push:
    branches:
      - main
      - maint/*
    tags:
      - "*"
  pull_request:
    branches:
      - main
      - maint/*
    paths: ["wonkyconn/*", "pyproject.toml", "pixi.lock", "Dockerfile"]

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up environment
        run: |
          git config --global user.name "halfpipe"
          git config --global user.email "halfpipe@fmri.science"
          git config --global datalad.runtime.max-annex-jobs "$(nproc)"
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/cache@v4
        with:
          path: ~/.cache/templateflow
          key: templateflow
      - uses: prefix-dev/setup-pixi@28eb668aafebd9dede9d97c4ba1cd9989a4d0004
        with:
          pixi-version: v0.53.0
          cache: true
          environments: test
          frozen: true
      - run: pixi run test
      - uses: codecov/codecov-action@v5
        if: ${{ always() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
